/***************** APP CSS ***********************/
html, body {
	height: 100%;
	margin: 0;
	padding-left: 0px;
	padding-right: 0px;
	font:14px Helvetica,arial,sans-serif;
	overflow: hidden;
	color:#3f3f3f;
}









    #wrapper {
        width: 100%;
        height : 100%;
        margin: 0;
        position: relative;
     }
    #MapDiv {
          
     
      left:0;
      right: 0%;
      top: 0%;
      bottom: 0%;
      flex: 1 1 auto;
            order: 1;
   
        
    }
       #RightDiv1{
      position:relative;
      
      right: 0;
      top: 0;
      bottom: 0;
        
        
   }
   #RightDiv{
      position:absolute;
      left:250px;
      right: 0;
      top: 0;
      bottom: 0;
        display: flex;
            flex-direction: column;
            overflow: hidden;
        
   }
    #overall {
        width: 100%;
        height: 100%;
        background-color:rgba(0,0,0,1);
        float:left;
        
        
    }
    #sidebar_left1 {
        position:absolute;
        width: 250px;
        overflow: auto;
        left:0;
        top: 10%;
      bottom: 0;
        background-color:rgba(0,0,0,1);
 
        
        
    }
     #sidebar_left2 {
        position:absolute;
        width: 30%;
        left:0%;
        height: 100%;
        background-color:rgba(0,0,0,1); 
        
    }
      #sidebar_left2 {
        position:relative;
        width: 30%;
        left:0%;
        height: 100%;
        background-color:rgba(0,0,0,1); 
        
    }
   
    #infoDiv{
   position: absolute;
    top: 16px;
    left: 50px;
  }

  #infoDiv input {
    border: none;
    box-shadow:  rgba(0, 0, 0, 0.3) 0px 1px 2px;
  }
    .banner {
        overflow: hidden; 
        height:7%;
        margin-top:2px;
        border:0px solid #dfefff;
        color:#e68869;
    }
       


     #topbar {
         
            background: rgba(0,0,0,1);
            padding: 0px;
             
            
        }
      

        .action-button {
            background-color: rgba(0,0,0,0.5);
            border: 0px ;
            color: #e4e4e4;
            height: 32px;
            width: 32px;
            text-align: center;
            
        }

            .action-button:hover,
            .action-button:focus {
                background: rgba(0,0,0,0.5);
                color: #e4e4e4;
            }
	.active {
      background: #0079c1;
      color: #e4e4e4;
    }
        .activeb,.active,.active_sub,.active_sub2 {
            background:rgba(0,0,0,0.5);
            color: #e4e4e4;
        }
      
         .accordionb {
             position: absolute;
             bottom: 0px;
            background-color: rgba(0,0,0,1);
            color: rgba(131,131,131,1);
            cursor: pointer;
            padding: 0px;
             width: 150px;
             height:20px;
             border-bottom-right-radius:10px;
            border: none;
            text-align: center;
            font-weight: bold;
            outline: none;
            font-size: 16px;
            flex: 1 1 auto;
            order:0;
        }





         .accordion,.accordion_search {
            background-color: rgba(0,0,0,1);
            color: rgba(131,131,131,1);
            cursor: pointer;
            padding: 5px;
             width: 230px;
            border: none;
            text-align: left;
            font-weight: 400;
            outline: none;
            font-size: 16px;
            transition: 0.4s;
        }
         .accordion_sub,.accordion_sub_pl ,.accordion_sub_bl,.accordion_sub_fl,.accordion_sub_facav,.accordion_sub_pty,.accordion_dst,.accordion_ust,.accordion_noc,.accordion_sub2pl,.accordion_sub2bl,.accordion_sub2fl{
            background-color: transparent;
            color: rgba(131,131,131,1);
            cursor: pointer;
            padding: 10px;
           width: 230px;
            border: none;
            text-align: left;
            font-weight: 400;
            outline: none;
            font-size: 16px;
        }
          
          .activeb, .accordionb:hover {
                background-color: rgba(0,0,0,1);
            }
            .active, .accordion:hover {
                background-color: rgba(240,240,232,0.1);
            }
.active_search, .accordion_search:hover {
                background-color: rgba(240,240,232,0.1);
            }
            .active_sub, .accordion_sub:hover {
                background-color: rgba(240,240,232,0.1);
            }
.active_sub_pl, .accordion_sub_pl:hover {
                background-color: rgba(240,240,232,0.1);
            }
.active_sub_bl, .accordion_sub_bl:hover {
                background-color: rgba(240,240,232,0.1);
            }
.active_sub_fl, .accordion_sub_fl:hover {
                background-color: rgba(240,240,232,0.1);
            }
            .active_sub_pty, .accordion_sub_pty:hover {
                background-color: rgba(240,240,232,0.1);
            }
.active_sub2pl, .accordion_sub2pl:hover {
                background-color: rgba(240,240,232,0.1);
            }
.active_sub2bl, .accordion_sub2bl:hover {
                background-color: rgba(240,240,232,0.1);
            }
.active_sub2fl, .accordion_sub2fl:hover {
                background-color: rgba(240,240,232,0.1);
            }
.active_sub_facav, .accordion_sub_facav:hover {
                background-color: rgba(240,240,232,0.1);
            }
.active_dst, .accordion_dst:hover {
                background-color: rgba(240,240,232,0.1);
            }
.active_ust, .accordion_ust:hover {
                background-color: rgba(240,240,232,0.1);
            }
.active_noc, .accordion_noc:hover {
                background-color: rgba(240,240,232,0.1);
            }
            .panelb {
                bottom:0%;
            padding: 0 ;
            display: none;
            width:100%;
            background-color: rgba(240,240,232,0.1);
            overflow: hidden;
        }

        .panel,.panel_search {
            padding: 0 ;
            display: none;
            width:230px;
            background-color: transparent;
            overflow: hidden;
        }
        .panel_sub,.panel_sub_pl,.panel_sub_bl,.panel_sub_fl,.panel_sub_facav {
            padding: 0 10px;
            display: none;
	    width:230px;

            background-color: transparent;
            overflow: hidden;
        }
        .panel_sub_pty ,.panel_dst,.panel_ust,.panel_noc,.panel_sub2pl,.panel_sub2bl,.panel_sub2fl  {
            padding: 0 20px;
            display: none;
	    width:230px;
            background-color: transparent;
            overflow: hidden;
        }

#homeDiv {
      left: 15px;
      top: 125px;
      position: absolute;
    }
  #homeDiv1 {
      left: 15px;
      top: 240px;
      position: absolute;
    }

  select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #2c3e50;
  background-image: none;
}
/* Custom Select */
.namehead {
 
              color: rgba(131,131,131,1);
            padding: 10px;
           width: 100%;

            border: none;
            text-align: left;
            font-weight: bold;
            outline: none;
            font-size: 12px;
}
.namehead1 {
 
            color: rgba(131,131,131,1);
            padding: 10px;
           width: 100%;

            border: none;
            text-align: left;
            font-weight: bold;
            outline: none;
            font-size: 12px;
}
.comboline {
   
  display: block;
  width: 90%;
  height: 5em;
border-width: 1px;
 
}

.select {
  position: absolute;
  float :right;
  display: block;
  width: 15em;
  height: 3em;
  line-height: 3;
  background: #2c3e50;
  overflow: hidden;
  border-radius: .25em;
}
select {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 .5em;
  color: #fff;
  font-weight:bold;
  font-size:14px;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
  
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 1em;
  background: #34495e;
  pointer-events: none;
  
}
/* Transition */
.select:hover::after {
  color: #f39c12;
  
}
.select::after {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}


 canvas {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            
        }

            #sliderContainer {
                position:absolute;
                bottom:20px;
                flex: 0 0 80px;
                width :100%;
                order: 2;
                display: flex;
                flex-flow: row;
                padding: 0 12px;
                
            }

            #sliderValue {
                flex: 0 0 100px;
                order: 1;
                display: flex;
                justify-content: center;
                flex-direction: column;
                text-align: center;
                font-size: 300%;
            }

            #sliderInnerContainer {
                flex: 1 1 auto;
                order: 2;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 0 20px;
            }

            #sliderLabels {
                flex: 1 1 auto;
                order: 1;
                display: flex;
                justify-content: space-between;
                margin-top: 20px;
            }

            #rangeWrapper {
                flex: 1 1 auto;
                order: 2;
                position: relative;
                padding: 0 20px;
            }

            #slider {
                width: 100%;
            }
      

            #playButton {
                flex: 0 0 100px;
                order: 3;
                margin: 20px 0;
            }

            .toggle-button {
                display: flex;
            }

                .toggle-button.toggled .toggle-button-icon {
                    color: #CC1B1B;
                }

                .toggle-button .toggle-button-icon {
                    color: #1BCC1B;
                }

                .toggle-button > :nth-child(2) {
                    display: none;
                }

                .toggle-button.toggled > :nth-child(1) {
                    display: none;
                }

                .toggle-button.toggled > :nth-child(2) {
                    display: block;
                }
        

            .tooltip {
                position: absolute;
                pointer-events: none;
                transition: opacity 200ms;
            }

                .tooltip > div {
                    margin: 0 auto;
                    padding: 12px;
                    border-radius: 4px;
                    box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.75);
                    transform: translate3d(-50%, -125%, 0);
                }


            
                
         



  .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 9; /* Sit on top */
            padding-top: 50px; /* Location of the box */
            margin: auto;
           
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.9); /* Black w/ opacity */

        }

        /* Modal Content (image) */
        .modal-content {
             
            display: block;
            position:absolute;
            align-content:center;
            left: 0px;
            width: 300px;
            height: 400px;
        }

        /* Caption of Modal Image */
        #modalstorydiv {
            
            position:absolute;
            left: 320px;
            right:10px;
            color: white;
            max-height:400px;
            overflow:auto;
            z-index:10;
            
        }
  /*    ::-webkit-scrollbar { 
    display: none; 
}*/ 
        /* Add Animation */
     /*   .modal-content, #modalstory {
            -webkit-animation-name: zoom;
            -webkit-animation-duration: 0.6s;
            animation-name: zoom;
            animation-duration: 0.6s;
        }
         */
        @-webkit-keyframes zoom {
            from {
                -webkit-transform: scale(0);
            }

            to {
                -webkit-transform: scale(1);
            }
        }

        @keyframes zoom {
            from {
                transform: scale(0);
            }

            to {
                transform: scale(1);
            }
        }

        /* The Close Button */
        .close {
            position: absolute;
            top: 15px;
            right: 35px;
            color: #f1f1f1;
            font-size: 40px;
            font-weight: bold;
            transition: 0.3s;
        }

            .close:hover,
            .close:focus {
                color: #bbb;
                text-decoration: none;
                cursor: pointer;
            }


#sketchPanel {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
}

.esri-button {
    margin: 2px;
}






.esri-ui-top-right {
    max-height: 100%;
}

#queryDiv,
#resultDiv {
    min-width: 250px;
    font-size: 14px;
    padding: 10px;
    display: none;
    overflow-y: auto;
    overflow-x: hidden;
}

.geometry-options {
    display: flex;
    flex-direction: row;
}

.geometry-button {
    flex: 1;
    border-style: solid;
    border-width: 1px;
    border-image: none;
}

.geometry-button-selected {
    background: #4c4c4c;
    color: #fff;
}

#bufferNum {
    width: 90%;
    margin: 2.5em auto 0;
}

.count {
    white-space: nowrap;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
} 
                  